openapi: 3.0.3
info:
  title: orders service
  description: Specification for orders service REST api
  termsOfService: http://ticketing.dev/terms/
  contact:
    name: Peter Gross
    url: https://www.linkedin.com/in/peter-gross-b435869/
    email: pjgro66@gmail.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
  - url: http://ticketing.dev
    description: Development Server
  - url: http://www.relman.xyz
    description: QA Server
  - url: https://www.relman.com
    description: Production Server
paths:
  /api/orders:
    get:
      tags:
        - Orders
      summary: List Orders
      description: Get a list of the current users orders in the system
      parameters:
        - in: cookie
          name: express:sess
          schema:
            type: string
      responses:
        200:
          description: List of Orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
      security:
        - cookieAuth: []
    post:
      tags:
        - Orders
      summary: New Order
      description: Create a new order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ticketId:
                  type: string
        required: true
      responses:
        201:
          description: Ticket Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
      security:
        - cookieAuth: []
  /api/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get Order By ID
      description: Get a single **Order** by its Id value.
      parameters:
        - name: orderId
          in: path
          description: Order Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Found Ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        401:
          description: Not Authorised
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
      security:
        - cookieAuth: []
    delete:
      tags:
        - Orders
      summary: Delete Order
      description: Delete Order by id.
      parameters:
        - name: orderId
          in: path
          description: Order Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
      responses:
        204:
          description: Order Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
        401:
          description: Not authorised
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorBody"
      security:
        - cookieAuth: []
  /api/orders/healthz:
    get:
      tags:
        - Orders
      description: Health Check
      responses:
        200:
          description: Order Healthcheck
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 5f899f66646dae001a523cc5
        status:
          type: string
          enum:
            - created
          readOnly: true
          example: created
        userId:
          type: string
          format: uuid
          readOnly: true
          example: 5f899f40149b980019ed5747
        expiresAt:
          type: string
          example: "2020-10-16T13:40:58.326Z"
        ticket:
          type: object
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
              example: 5f899f4c6757fc001a9a1820
            title:
              type: string
              example: concert
            price:
              type: number
              format: float
              example: 120
            version:
              type: integer
              format: int32
              readOnly: true
              example: 1
        version:
          type: integer
          format: int32
          readOnly: true
          example: 0
      description: ticket object
    OrderList:
      type: array
      description: List of Orders
      items:
        $ref: "#/components/schemas/Order"
    ErrorBody:
      type: object
      description: Body of the error response
      properties:
        errors:
          $ref: "#/components/schemas/ErrorList"
    ErrorList:
      type: array
      description: List of Errors
      items:
        $ref: "#/components/schemas/Error"
    Error:
      type: object
      properties:
        message:
          type: string
          example: Price must be greater than zero
        field:
          type: string
          example: price
    PagedResponse:
      type: object
      properties:
        pageable:
          $ref: "#/components/schemas/PagedResponse_pageable"
        totalPages:
          type: integer
          format: int32
        last:
          type: boolean
        totalElements:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
        numberOfElements:
          type: integer
          format: int32
        sort:
          $ref: "#/components/schemas/PagedResponse_pageable_sort"
        first:
          type: boolean
    PagedResponse_pageable_sort:
      type: object
      properties:
        sorted:
          type: boolean
        unsorted:
          type: boolean
    PagedResponse_pageable:
      type: object
      properties:
        sort:
          $ref: "#/components/schemas/PagedResponse_pageable_sort"
        offset:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        paged:
          type: boolean
        unpaged:
          type: boolean
  parameters:
    PageNumberParam:
      name: pageNumber
      in: query
      description: Page Number
      required: false
      style: form
      explode: true
      schema:
        type: integer
        format: int32
        default: 1
    PageSizeParam:
      name: pageSize
      in: query
      description: Page Size
      required: false
      style: form
      explode: true
      schema:
        type: integer
        format: int32
        default: 25
  securitySchemes:
    cookieAuth:
      description: >-
        Session key to identify user session.
      type: apiKey
      in: cookie
      name: express:sess
